* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100% !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', 'PingFang HK', 'PingFang SC', Helvetica Neue,
    Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0;
}

html {
  height: 100% !important;
  box-sizing: border-box;
  background-color: #f4f5f5;
}

#client {
  height: 100%;
  font-size: 12px;
}

textarea {
  font: inherit;
}

a {
  text-decoration: none;
  color: #71777c;
}

button {
  border: none;
}

li {
  list-style: none;
}

.nav-item {
  color: #71777c;
  padding: 0 15px;
  font-size: 16px;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.timeline-container {
  max-width: 960px;
  margin: auto;
}

/* 内容区样式 */
.welcome-context {
  display: flex;
  align-items: flex-start;
  // border: 1px solid #ff0000;
}

/* 头像样式 */
.avatar {
  display: inline-block;
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eee;
}

.thumb {
  background-position: 50%;
  background-repeat: no-repeat;
}

// 修改滚动条样式
::-webkit-scrollbar {
  width: .6rem;
  height: .6rem;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: none;
}

// 文章详情页图片样式
.article .article-content img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  border-radius: 5px;
  cursor: zoom-in;
  box-shadow: #ede0d0 0px 6px 20px;
}